[package]
name = "kiwi-talk-app"
description = "A Tauri App"
default-run = "kiwi-talk-app"
publish = false

version.workspace = true
license.workspace = true
edition.workspace = true
authors.workspace = true
repository.workspace = true
rust-version.workspace = true

[build-dependencies]
tauri-build = { version = "1.5.0", features = [] }

[dependencies]
talk-loco-client = { workspace = true }

kiwi-talk-system = { path = "../system" }
kiwi-talk-result = { path = "../result" }
kiwi-talk-api = { path = "../api" }
kiwi-talk-client = { path = "../client" }

tokio = { workspace = true, features = ["full"] }
tauri = { workspace = true, features = ["updater", "api-all", "system-tray"] }
anyhow = { workspace = true, features = ["backtrace"] }
log = { workspace = true }
serde = { workspace = true }

serde_json = "1.0"
window-shadows = "0.2.1"
tauri-plugin-window-state = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "v1" }
tauri-plugin-log = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "v1" }

[features]
default = []
custom-protocol = ["tauri/custom-protocol"]
