[package]
name = "{{project-name}}"
description = "{{description}}"
version = "0.1.0"

license.workspace = true
edition.workspace = true
authors.workspace = true
repository.workspace = true

[dependencies]
